.bg1-color {
    background-color: #1E2940;
}
.color-link {
    color: #05AFF2;
    margin : 0 10px;
    font-size:18px;
}
.h-link{
    height:30px;
}
.b-card {
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    padding: 10px;
    border-radius: 10px;
}
.menu{
    margin:10px;
}
.footer {
    padding: 20px 0;
    background-color: #1E2940;
    color: white;
    position: absolute;
    right: 0;
    left: 0;
    text-align:center;
}
.pd-20{
    margin-bottom:20px;
}
.img-index {
    width: 200px;
    height: 200px;
    object-fit: contain;
}