.bg1-color {
    background-color: #1E2940;
}
.color-link {
    color: rgba(0,0,0,0.4);
    margin : 0 10px;
    font-size:16px;
}
.h-link{
    height:30px;
}
.b-card {
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    padding: 10px;
    border-radius: 10px;
}
.menu{
    margin:10px;
}
.footer {
    padding: 20px 0;
    background-color: #1E2940;
    color: white;
    position: absolute;
    right: 0;
    left: 0;
    text-align:center;
}
.pd-20{
    margin-bottom:20px;
}
.fondo-menu{
    background-color:rgba(0,0,0,0.1);
    border-radius: 4px;
}
.img-index {
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.hidden {
    display: none;
}
.btn{
    margin: 0 3px
}
.contenedor-producto{
    display:flex
}
.search {
    outline: none;
    padding:5px
}
.card {
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    padding:15px
}
.card-title2{
    padding-bottom:5px;
    width:100%;
    font-weight:normal;
    font-size:18px;
    background-color:rgba(0,0,0,0.1);
    padding:10px;
}
.w-50{
    width:120px;
}
.label-form {
    display: inline;
    width: 100%;
    text-align: left !important;
}
.m-5{
    margin:5px 0;
}